<div class="container">
  <div style="width: 100%; float: left">
    <mat-grid-list [cols]="cols" rowHeight="1:1" [gutterSize]="'2px'">
      <div *ngFor="let item of [].constructor(cols); let i = index">
        <div *ngFor="let item of [].constructor(rows); let j = index">
          <mat-grid-tile
            [@colorState]="colorState[i][j]"
            (click)="selectCell(i, j)"
          >
            <span *ngIf="grid[i][j] != 0">{{ grid[i][j] }}</span>
          </mat-grid-tile>
        </div>
      </div>
    </mat-grid-list>
  </div>
  <div style="width: 100%">
    <div class="buttons" *ngFor="let button of buttons; let i = index">
      <button class="button" (click)="fillValue(button)">
        {{ button }}
      </button>
    </div>
    <!-- <button class="button" (click)="eraseValue()">
      <mat-icon>delete</mat-icon>
    </button> -->
  </div>
</div>
